@model List<DemoWebsite.Models.Message>
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div>
    <div class="col-lg-3">
        first
    </div>
    <div class="col-lg-6">
        @foreach (DemoWebsite.Models.Message message in Model)
        {
            <h3>@message.Header</h3>
            <h5>@message.Sender</h5>
            <label readonly>@message.Body</label>
            <br />
            <label>-------------------------------------------------------</label>
        }
    </div>
    <div class="col-lg-3">
        third
    </div>
</div>

@section scripts{

    <script>
    </script>

}