@model DemoWebsite.Models.MessagesModel
@{
    ViewBag.Title = "Messages";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div>
    <div class="col-lg-3">
        <h3>FRIENDS</h3>
    </div>
    <div class="col-lg-6">
        @foreach (DemoWebsite.Models.User user in Model.Conversations)
        {
            <a style="text-decoration:none" href="@Url.Action("GetConversation", "Messages", new { id = user.ID })">
            <div class="panel panel-default">
                <div class="panel-body">
                    @user.FirstName @user.LastName
                </div>
            </div>
            </a>
        }
    </div>
    <div class="col-lg-3">
        third
    </div>
</div>

@section scripts{

    <script>
    </script>

}