@model List<Message>
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div style="height:100%">
    <div class="col-lg-3">
        <div class="form-group">
            <label for="header">Header</label>
            <input type="text" class="form-control" id="header" placeholder="Header">
        </div>
        <div class="form-group">
            <label for="body">Body</label>
            <textarea class="form-control" id="body" placeholder="Message" style="resize:vertical"></textarea>
        </div>
        <button class="btn btn-primary" onclick="addNew()">Add message</button>
    </div>
    <div class="col-lg-6" style="height:100%">
        <div style="height:100%; overflow:auto">
            @foreach (DemoWebsite.Message message in Model)
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>@message.Header</h3>
                        <h5>@message.Sender</h5>
                    </div>
                    <div class="panel-body">
                        @message.Body
                    </div>
                </div>
            }
        </div>
    </div>
    @*<div class="col-lg-3">
        third
    </div>*@
</div>

@section scripts{
    
    <script>
        function addNew() {
            $.ajax({
                url: "/Home/AddHomeMessage",
                type: 'POST',
                data: {
                    header: $('#header').val(),
                    body: $('#body').val()
                },
                success: function () {
                    window.location.href = "/Home/Index";
                }
            });
        }
    </script>
    
    }